---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import HargaMain from "../components/HargaMain.astro";
import InfoLinks from "../components/InfoLinks.astro";
import Faq from "../components/Faq.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main>
    <Hero />
    <HargaMain />
    <InfoLinks />
    <Faq />
  </main>
  <Footer />
</Layout>
